* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

h2 {
    color: #c1b1df;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #b8a4dd;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #3a54c7;
}

footer {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
}
